.navbar a {
  text-decoration: none;
}

.navbar .link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.name-container-main {
  display: flex;
  color: white;
  cursor: pointer;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Teko";
}

.name-container {
  font-family: "Teko";
  text-align: center;
  color: white;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  font-size: 24px;
}

.name-letter {
  display: inline-block;
  transition: transform 0.3s;
}

.name-letter:hover {
  animation: bounce 0.3s ease infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.section-navbar {
  /* position: sticky; */
  top: 0;
  padding: 12px;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  display: flex;
  height: 100vh;
  background-color: #050816;
}

.navbar {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
  font-size: large;
}

.links img {
  height: 50px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
}