@font-face {
    font-family: regardsregular;
    src: url(../../../public/Regards.woff);
}

.section-work {
    height: 100vh;
    scroll-snap-align: center;
    text-align: center;
    font-family: Teko;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-work {
    font-size: 44px;
    margin-top: 40px;
}

.work-hr {
    width: 50%;
    margin: 40px;
}

.card-work {
    background: transparent;
    color: white;
    border: 2px solid white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.card-work:hover {
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.8);
  }

.project {
    font-size: 24px;
}

.Title-card {
    font-size: 32px;
    color: #7d2ae8;
}

.button-work {
    background-color: #7d2ae8;
    font-size: large;
}
.button-work:hover{
    background-color: #7d2ae8;
}